<h1>Here are the best restaurants of UNDERGROUND TOKYO:</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
        | <%= link_to "X", restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        | <%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new restaurant", new_restaurant_path, class: 'btn btn-primary' %>